body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:  #dcdcdc;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #778899;
  width: 100%;
  height: 15vh;
  padding: 8px;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  width: 50em;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  padding: 2%;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #222;
}

.dark-mode input[type="text"] {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.dark-mode button {
  background-color: #555;
}

/* Search Bar Styles */

.matching-games {
  position: relative;
  top: 20vh; /* Position suggestions directly underneath the search bar */
  left: 0; /* Set left to 0 to align with the left edge of the search bar */
  width: calc(100% - 40px); /* Adjust the width to span the full width of the screen minus padding */
  max-width: 300px; /* Limit the maximum width of the suggestions */
  background-color: #222; /* Dark mode background color */
  border: 1px solid #555;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Ensure the suggestions are above other elements */
  color: #fff; /* Text color for dark mode */
}



/* Styles for light mode */
.app.dark-mode .matching-games {
  background-color: #fff; /* Light mode background color */
  color: #000; /* Text color for light mode */
}

.matching-game {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
